.demais {
    display: block !important;
    width: 100% !important;
    height: 200px;
    overflow: hidden;
}

.row.no-gutter .middle {
    padding: 0 7.5px;
}

.noticias-footer .item {
    margin-bottom: 10px;
}

.politica span,
.politica span a,
.politica span p a,
.politica .title-left.underline04::before {
    background-color: #d40004 !important;
}

.politica a:hover,
.politica p:hover,
.news-block.politica span {
    color: #d40004;
}

.esporte span,
.esporte span a,
.esporte span p a,
.esporte .title-left.underline04::before {
    background-color: #5ab45f !important;
}

.esporte a:hover,
.esporte p:hover,
.news-block.esporte span {
    color: #5ab45f;
}

.comunidade span,
.comunidade span a,
.comunidade span p a,
.comunidade .title-left.underline04::before {
    background: #4faefc;
}

.comunidade a:hover,
.comunidade p:hover,
.news-block.comunidade span {
    color: #4faefc;
}

.news-block span {
    background: none !important;
}

.pb30 {
    padding-bottom: 30px;
}

.block {
    display: block;
}

.colorWhite p {
    color: white;
}

.first img,
.zero img {
    max-width: 574px;
    height: 443px;
}

.second img {
    max-width: 274px;
    height: 442px;
}

.third img {
    max-width: 374px;
    height: 215px;
}

.fourth img {
    max-width: 374px;
    height: 215px;
}

.news-slider-layer.zero {
    width: 100%;
}

.content-head {
    margin-bottom: 12px;
}

.column {
    width: 75%;
    float: left;
    padding-left: .75rem;
    padding-right: .75rem;
}

.medium-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.content-head__title {
    font-size: 45px;
    color: #333;
    text-align: center;
    margin-top: 30px;
    letter-spacing: -.065em;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.1;
}

.content-head__subtitle {
    color: #666;
    font-size: 30px;
    text-align: center;
    letter-spacing: -.8px;
    line-height: 1.45;
}

.mc-column {
    width: 75%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content-text, .content-text__container  {
    margin-bottom: 30px;
    letter-spacing: -.6px;
}