.msgError {
    text-align: center;
    color: #F44336;
}

.vulpis{
    color: black;
}

.vulpis:hover, .vulpis:focus{
    color: black;
}

.badge{
    color: white !important;
    position: absolute;
    right: 17px;
}

.cad span{
    margin: 7px 0 1px 0px !important;
}

.save-button {
    padding-left: 0px;
    margin-top: 20px;
}

#tag, #noticia, #video, #publicidade, #imagem{
    margin-top: 25px;
}

.col-sm-12, .col-sm-6, .col-sm-8, .col-sm-4{
    margin-bottom: 0px !important;
}

.bootstrap-tagsinput{
    width: 100%;
    padding: 6px 0 !important;
}

.label-info.success{
    background-color: #4CAF50;
}

.label-info.error{
    background-color: #F44336;
}

.bootstrap-tagsinput input{
    height: auto !important;
    width: auto !important;
    display: inline;
}

.div-search-button{
    text-align: right;
}

.row-tag{
    display: flex;
    align-items: center;
}